git+git://github.com/USEPA/Federal-LCA-Commons-Elementary-Flow-List.git@v1.0.7#egg=fedelemflowlist
git+git://github.com/USEPA/esupy.git@v0.1.4#egg=esupy
olca-ipc>=0.0.8
pandas>=0.23
requests>=2.21.0
xlrd==1.2.0     # Not compatible with version 2.0.0
pyyaml>=5.3

