git+https://github.com/USEPA/Federal-LCA-Commons-Elementary-Flow-List.git@develop#egg=fedelemflowlist
git+https://github.com/USEPA/esupy.git@develop#egg=esupy
olca-ipc==0.0.12
pandas>=0.23
openpyxl>=3.0.7
pyyaml>=5.3

